html {
	background-image:  url(../images/html_bg.jpg);

}
body {
	background-image:  url(../images/body_bg.jpg);
    font-family: "PT Sans", Tahoma, sans-serif;
   	font-size: 13px;
   	line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", Arial, sans-serif;
}
#footer {
	background-image:  url(../images/footer_body_bg.jpg);
}
.sf-menu li {
	font-family: "Oswald", Arial, sans-serif;
   	font-size: 12px;
}
.intro_slogan {
	background-image:  url(../images/footer_body_bg.jpg);
}
.slider_wrapper {
	background-image:  url(../images/slider_body_bg.jpg);
}
